#allrecords.t-feed__parts-switch-btn a {
  text-decoration: none;
  color: #000;
  position: relative;
}

#allrecords.t-feed__parts-switch-btn a ::before {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background: #000;
  transition: all 0.2s ease-in-out 0.2s;
}

#allrecords.t-feed__parts-switch-btn a :hover::before {
  width: 100%;
}
